body {
    margin: 0px;
    font-family: 'Times New Roman';
    overflow: hidden; /*défilement caché*/
    position: relative; /*pour positionner les éléments enfants*/
}
h1, h2{
    text-align: center;
}

h1, h2, h3{
    margin-bottom: 20px;
    color: black;
}

.mainMenu{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.container-classement{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.mainMenu, .container-classement {
    display: grid;
    gap: 0px;
    position: absolute;
    top: 50px; /*valeur pour placer les boutons plus ou moins haut*/
    left: 50%;
    transform: translateX(-50%); /*centre horizontalement*/
    color: white;
    z-index: 1;
    width: 90%;
    max-height: 90%;
}

.div1, .div2, .div3, .div4, .div5, .div_C1, .div_C2, .div_C3, .div_C4 {
    border-radius: 50px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

.div2, .div3, .div4 {
    margin: 20px;
    padding: 10px;
}

.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    margin: 10px;
    padding: 30px;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    text-align: top;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 1;
    margin: 10px;
    padding: 30px;
}

.div6 {
    grid-column-start: 5;
    grid-row-start: 3;
    border-radius: 50px;
    position: absolute;
    bottom: 25px;
}


button {
    text-align: center;
    display: block;
    background-color: #60c427;
    cursor: pointer;
    color: white;
    font-size: 18px; /*taille texte*/
    font-weight: 600; /*gras du texte*/
    padding: 20px;
    margin: 80px auto;
    min-width: 150px; /*largeur minimale*/
    position: relative;
    /*bordure*/
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8); /*ombre*/
}


/*styles bouton*/
.container {
    display: flex;
    flex-direction: column;  /*empiler verticalement*/
    gap: 20px;/*espace entre les boutons*/
    align-items: center; /*centre horizontalement*/
    justify-content: center; /*centre verticalement*/
}

/*styles lien*/
.container a, .return-container a {  
    text-decoration: none;/*enlève le soulignement des liens*/
}

/*enlève espaces haut cliquables*/
.container a button {
    margin: 0;
    padding: 12px 24px;
}



.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("image/fond_espace.webp");
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.img1{
    background-image: url("image/fond_espace.webp");
}

.img2{
    background-image: url("image/multicolor.webp");
    mix-blend-mode: screen;
}

.img1, .img2 {
    width: 100%;
    height: 800px;
    background-size: cover; /*pour que l'image couvre tout l'élément*/
    background-position: center;
}



/*classement*/

.div_C1 {
    grid-column: span 3 / span 3;
}


.div_C2, .div_C3, .div_C4 {
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    margin: 10px;
}


.return-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.return-container button {
    margin: 0;
}